.totel-container{
background-color: rgb(213,218,223, 1);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(213,218,223, 1);
}
.header-container{
display: grid;
grid-template-columns: 30% 40% 30%;
width: auto;
height: 60px;
padding: 5px;
background-color: rgb(196, 201,207);
}
.logo{
text-align: left;
}
.navigation-button{
text-align: center;
margin-top: 15px;

}
.navigation-button a{
  margin: 10px;
  text-decoration: none;
  color: black;
}
.anger-log{
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
.log-button{
text-align: end;
gap: 10px;
}
.start-btn{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    height: 40px;
    padding:5px;
    margin: 5px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.letter-heading{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}
.letter-para{
    text-align: center;
}
.btn-group{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    gap: 10px;
}
.learn-more-btn{
    border: 1px solid blue;
    color: rgb(29, 43, 203);
    height: 30px;
    padding:5px;
    margin: 5px;
}
.solutions-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    background-color: rgb(243 241 241);
}
.crow-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    background-color: rgb(243 241 241);
}
.solution-and-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    background-color: rgb(243 241 241);
}
.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin: 5px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon-size{
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;
}
.card-element{
    text-align: center;
    margin: none;
    padding: none;
    text-decoration: none;
}
.bg-white{
    background-color: rgb(213,218,223, 1);
}
.bg-color{
    background-color: rgb(234, 230, 230);
}
.solution-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin: 2px;
    margin-top: 70px;
    background-color: rgb(213,218,223, 1);;
}
.solution-card{
    width: 40%;
    height: 600px

}
.window-image{
    width:550px;
    height: 450px;
}
.btn-group-soultion{
    margin-top: 50px;
    text-align: left;
    padding: 10px;
    gap: 10px;
}

.window-top{
    width: 550px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 2px;

}
.window-bottom{
    width: 550px;
    height: 300px;
    border: 1px solid black;
}
.round{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}
.graph{
    border:1px solid black;
    width: 550px;
    height: 300px
}
.card-and-window{
    width: 545px;
    height: auto;
    margin-left: 10px;
}
footer{
    background-color: rgb(140, 140, 140);
}
.increse-font{
    font-size: xx-large;
}
.a-button{
    border: 2px solid green;
    border-radius: 4px;
    padding: 5px;
    color: white;
    background-color: crimson;
    text-decoration: none;
}
.page-button{
    margin-top: 50px;
    text-align: end;
}